#porn {
    position: absolute;
    left: 0vw;
    top: 0vh;
    z-index: 1;
    width: 100% !important;
}

#content {
    position: relative;
    padding-top: 3vh;
    padding-bottom: 3vh;
    min-height: 80vh;
}

#text {
    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

#clicker {
    float: right;
}

#clicker:hover {
    cursor: pointer;
}

#login_form input[type=text] {
    width: 30vw;
    height: 6vh;
    background-color: #efefef;
    color: #666;
    border: 0.2vw solid #ddd;
    border-radius: 5vw;
    font-size: 2.8vw;
    padding: 1vw;
    box-sizing: border-box;
    outline: none;
}

#login_form input[type=password] {
    width: 30vw;
    height: 6vh;
    background-color: #efefef;
    color: #666;
    border: 0.2vw solid #ddd;
    border-radius: 5vw;
    font-size: 2.8vw;
    padding: 1vw;
    box-sizing: border-box;
    outline: none;
}

#login_form input[type=submit] {
    width: 30vw;
    height: 10vh;
    background-color: #FF8E0D;
    font-size: 4vh;
    color: white;
    padding: 1vh 1vw;
    border: none;
    border-radius: 0.1vw;
    cursor: pointer;
    letter-spacing: 0.1vw;
    outline: none;
}

#login_form input {
    margin-top: 1vh;
}

#login_panel {
    width: 34vw;
    height: 46vh;
    background-color: azure;
    text-align: center;
    border: 0.1vh solid black;
    border-radius: 53px 53px 53px 53px;
    -moz-border-radius: 53px 53px 53px 53px;
    -webkit-border-radius: 53px 53px 53px 53px;
    border: 6px solid #000000;
    margin-left: auto;
    margin-right: auto;

}

span#com {
    margin-top: 3vh;
    font-size: 2vh;
}

#socials {
    text-decoration: none;
    list-style-type: none;
}

#sidebar_social {
    background-color: #eee;
    width: 7vw;
    float: right;
    position: fixed;
    bottom: 15vh;
    right: 0;
    border-radius: 84px 0px 0px 198px;
    -moz-border-radius: 84px 0px 0px 198px;
    -webkit-border-radius: 84px 0px 0px 198px;
    padding-bottom: 3vh;
    display: none;
    z-index: 100;
    -webkit-box-shadow: -4px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -4px 6px 5px 0px rgba(0,0,0,0.75);
}

.carousel-caption {
    font-size: 1vh;
}

.social {
    width: 3vw;
    text-align: center;
    margin-top: 2vh;
    height: 3vw;
    vertical-align: middle;
}

.social_text {
    vertical-align: middle;
    padding-top: 1vh;
}

body {
    background-image: url("../img/back-land.jpg");
    background-attachment: fixed;
}

.container {
    background-color: #fafafa !important;
}

.container-fluid {
    margin-bottom: 0;
}

.navbar-default {
    margin-bottom: 0;
}

body {
    /*overflow:hidden;*/
}

.float {
    float: left;
}

.news_row {
    margin-bottom: 5vh;
}

.style {
    background: white;
}

ul.nav li.active a{
    background-color: crimson !important;
    color: white !important;
}

ul.nav li a:hover{
    background-color: crimson !important;
    opacity: 0.6 !important;
    color: white !important;
}

ul.nav li.active a:hover{
    background-color: none;
    opacity: none !important;
    color: white;
}

.navbar-form button{
    background-color: crimson;
    color: white;
    border-radius: 80px 80px 80px 80px;
    -moz-border-radius: 80px 80px 80px 80px;
    -webkit-border-radius: 80px 80px 80px 80px;
}

.navbar-form button:hover{
    background-color: crimson;
    opacity: 0.6;
    color: white;
}

input:focus{
    outline: none;
}

div#div-forms button.btn-primary{
    background-color: crimson !important;
    border-color: #EC244C
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

.opacity-container {
    opacity: 0.9;
}

.padding-row {
    margin: 0 5vw 0 5vw;
}

.margin-row {
    margin-top: 3vh;
}

.praca-praca{
    display: none;
    background-color: crimson;
    color: white;
    border: 1px solid #ddd;
    border-bottom: none;
    border-top: none;
    font-size: 25px;
}

.praca-praca:last-of-type{
    border-bottom: 1px solid #ddd;
}
.img-reliable {
    max-height: 100%;
    width: 100%;
}

.profile-input {
    border-radius: 5% 5% 5% 5%;
    box-shadow: 0 0 0 0;
    border: 0.1px solid black;
    margin: 0 !important;
}

.margin-center {
    margin-top: auto;
    margin-bottom: auto;
}

.modify {
    display: none;
}

@font-face {
      font-family: 'fontello';
      src: url('./font/fontello.eot?42011072');
      src: url('./font/fontello.eot?42011072#iefix') format('embedded-opentype'),
           url('./font/fontello.woff?42011072') format('woff'),
           url('./font/fontello.ttf?42011072') format('truetype'),
           url('./font/fontello.svg?42011072#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }

.fontello-icon-sidebar {
    font-size: 24px;
    text-align: center;
}

.social-font {
    color: white;
}

.margin-row-small {
    margin-top: 2vh;
}

.scroll-top-font {
    font-size: 20px;
    line-height: 200%;
}

.footer {
    background-image: url(../img/footer-back.png);
    width: 100vw;
    border-top: 1px solid white;
}

body {
    overflow-x: hidden;
}

.empty-block {
    height: 4vh;
}

.btn-table {
    width: 100%;
    margin-bottom: 2vh;
}

.termin-i-miejsce {
    margin-top: 2vh;
}

.termin-i-miejsce:first-of-type {
    margin-top: 0;
}

.img-main {
    width: 33%;
}

.main-site {
    background-image: url("../img/tlo-main.jpg");
    background-attachment: scroll;
    height: 70vh;
    width: 100%;
}

.title-main {
    opacity: 0.7;
    margin-top: 20%;
}

.margin-bot {
    margin-bottom: 3vh;
}



.add-term-forms {
    display: none;
}
